{{define "layout"}}
<!DOCTYPE html>
<html style="width: 100%;">
<head>

{{template "base-head" .}}
    <link rel="stylesheet" href="/stylesheets/app-layout.css" type="text/css" />
{{template "head" .}}

</head>
<body id="body" class="app-body">

<div id="overlay"></div>

<div class="nav-bar-top">
    <table>
        <tr>
            <td>
                <a href="/account"><i class="fa fa-chevron-left back" aria-hidden="true"></i></a>

            </td>
            <td align="center">
                <i style="font-size: 10pt; " class="fa fa-user" aria-hidden="true"></i>
                <span style="margin-left:4px;" class="signed-in-as">{{ .ViewData.Email }}</span>
            </td>
            <td>

            </td>
        </tr>

        <tr>
            <td style="width:100%; border-bottom: 1px solid #ccc;" colspan="3">
                <div style="background: #FFFFFF; padding: 10px; z-index:3; overflow-y: scroll !important; max-height: 500px; !important;" id="message-td" class="collapse">
                    <table id="messages"></table>
                </div>
            </td>
        </tr>


    </table>
</div>

{{range .FlashMessages.FlashMessages}}
<div class="alert alert-{{.BootstrapClass}}" role="alert">
{{.Message}}
</div>
{{end}}

{{template "body" .}}



<div class="nav-bar-bottom">

    <div id="ad" style="background-color: whitesmoke; text-align: center; display: none;">
        <a id="ad-link" href="#" target="_blank" style="border: 0px;"><img id="ad-image" src=""></a>
    </div>

    <div>
        <table>
            <tr>
                <td align="center">
                    <i class="ss ss-logo"  style="font-size: 30pt; color: #A12130;" aria-hidden="true"></i>
                </td>
                <td align="center">


                </td>
                <td align="center">
                    <a href="/account"><i style="font-size: 30pt; color: #A12130;" class="ss ss-settings account" aria-hidden="true"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>

{{end}}




