<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Failed Registration Attempt.</h3>
<table>
    <tr>
        <td>Jurisdiction ID:</td>
        <td>{{.ViewData.JurisdictionId}}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{.ViewData.FirstName}} {{.ViewData.LastName}}</td>
    </tr>
    <tr>
        <td>Student Name:</td>
        <td>{{.ViewData.StudentFirstName}} {{.ViewData.StudentLastName}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ .ViewData.Email }}</td>
    </tr>
    <tr>
        <td>Id or Code Attempted:</td>
        <td>{{ .ViewData.IdOrCodeAttempted }}</td>
    </tr>
</table>

</body>
</html>