<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>We have received an service issue report.</h3>
<table>
    <tr>
        <td>Reported By:</td>
        <td>{{ .ViewData.Email }}</td>
    </tr>
    <tr>
        <td>Jurisdiction:</td>
        <td>{{ .ViewData.JurisdictionName }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td>{{ .ViewData.Date }}</td>
    </tr>
    <tr>
        <td>Issue Type:</td>
        <td>{{ .ViewData.IssueType }}</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{ .ViewData.Description }}</td>
    </tr>
</table>

</body>
</html>