html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 40px;
}

#footer {
    height: 40px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 10px 15px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-header {
    float:none;
    width:100%;
    padding:10px;
}
.navbar-brand {
    font-size:20pt;
    float:none;
}



body {
    background: white;
    /*background: #d9a7c7; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to top, #fffcdc, #d9a7c7); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.over-image {
    color: #ffffff;
 }

#profile-header {
    position: relative;
}

#profile-header > img{
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}

#profile-header > div{
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    /*height: 100%;*/
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,1));
    background: -webkit-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,1));
}