:root{
    --safe-stop-red: #A12130;
    --safe-stop-red-hover: #872131;
}

.arrived {
    color: #008fa8;
}

.expected-on-time {
    color: #06af4b;
}

.expected-late {
    color: #EEA925;
}

.expected-really-late {
    color: #e94d2f;
}





#overlay {
    position:absolute;
    height:100%;
    width:100%;
    background:black;
    opacity:.7;
    z-index:2;
    display:none;
}

.nav-bar-top{
    background: #ffffff;
    z-index: 5000;
    position: fixed;
    width:100%;
    top: 0px;
    border-bottom: 1px solid #ccc;
    height:50px;
}

.nav-bar-top table {
    width:100%;
    vertical-align: middle;
    height: 50px;
    z-index: 5000;
}

.nav-bar-top  table  tr:first-child  td:first-child {
    height: 50px;
    width: 40px;
    padding-left: 10px !important;
}

.nav-bar-top  table  tr:first-child  td:first-child + td {
    height: 50px;
    vertical-align: middle;
}

.nav-bar-top  table  tr:first-child  td:first-child + td + td {
    height: 50px;
    width:40px;
    padding-right: 10px !important;
    text-align: right;
}

.nav-bar-top .fa-chevron-left {
    font-size: 20pt;
    color: #A32837;
}

.nav-bar-top .fa-check {
    font-size: 18pt;
    color: #A32837;
}

.nav-bar-top .fa-times{
    font-size: 22pt;
    color: #A32837;
}



.nav-bar-bottom{
    position: fixed;
    bottom: 0px;
    min-height: 56px;
    width:100%;
    background:#ECECEC;
    z-index: 5000;
}

.nav-bar-bottom table {
    min-height: 56px;
    width:100%;
    border-top:1px solid #ccc;
}

.nav-bar-bottom table:first-child td:first-child {
    vertical-align: middle;
    border-right:1px solid #ccc;
    height: 56px; width:56px;
}

.nav-bar-bottom table:first-child td:first-child + td {
    vertical-align: middle;
    height: 56px;
    text-align: center;
    background: #ffffff;
}

.nav-bar-bottom table:first-child td:first-child + td + td {
    vertical-align: middle;
    border-left:1px solid #ccc;
    height: 56px; width:56px;
    text-align: center;
}


.btn-safe-stop{
    color: #ffffff;
    background-color: var(--safe-stop-red);
    border-color: var(--safe-stop-red);
}

.btn-safe-stop:hover, .btn-safestop:focus{
    background-color: var(--safe-stop-red-hover);
    border-color: var(--safe-stop-red-hover);
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}

.btn-default:hover {
    color:#333 !important;
    background-color:#e6e6e6 !important;
    border-color:#adadad !important;
}

.map-data-header {
    font-weight: 500;
    font-size: 10pt;
}
.map-data {
    padding-left: 5px;
}
.nav-arrow {
    font-size: 20pt;
    color: #a12130;
    cursor: pointer;
}
.as_of {
    font-size: 7pt !important;
    font-weight: bold !important;
    display: block !important;
    color: #c6c3c1 !important;
}
.map-arrow {
    font-size: 30pt;
    color: #a12130;
    cursor: pointer;
}
.ms-jurisdiction {
    color: #50595a;
    font-size: 16pt;
    font-weight: 500;
    background: #f0f0f0;
}
.ms-route {
    color: #a12130;
    font-weight: bold;
    font-size: 14pt;
}
.ms-stop {
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 5px;
}
.ms-time {
    font-size: 14pt;
    font-weight: 500;
}
.se-title {
    color: #50595a;
    font-size: 8pt;
    font-weight: bold;
}
.as_of {
    color: #50595a;
    font-size: 6pt;
    font-weight: 300;
}
.app-body {
    overflow-y: hidden;
    margin-top: 50px !important;
    margin-bottom: 56px !important;
    width: 100%;
}
.app-body-scroll {
    overflow-y: scroll;
    margin-top: 50px !important;
    margin-bottom: 56px !important;
    width: 100%;
}
.registration-chevron {
    font-size: 16pt;
    color: #a12130;
}
.no-left-radius {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.no-right-radius {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.list-group-item {
    border-radius: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.no-border-radius {
    border-radius: 0px !important;
}
.student-id-description {
    color: #a12130;
    font-size: 10pt;
}
.btn-safestop {
    font-weight: bold;
    color: #fff;
    background-color: #a12130;
    border-color: #872131;
}
.btn-safestop:hover, .btn-safestop:focus {
    font-weight: bold;
    color: #fff;
    background-color: #872131;
    border-color: #872131;
}
.list-nav-item-table {
    width: 100%;
    cursor: pointer;
}
.list-nav-item-table td:nth-child(1) {
    vertical-align: middle;
    width: 80%;
}
.list-nav-item-table td:nth-child(1) .title {
    font-size: 12pt;
    font-weight: 500;
    color: #50595a;
}
.list-nav-item-table td:nth-child(1) .sub-title {
    font-size: 10pt;
}
.list-nav-item-table td:nth-child(2) {
    width: 20%;
    vertical-align: middle;
}
.list-nav-item-table td:nth-child(2) .nav-arrow {
    width: 100%;
    color: #a12130;
    font-weight: bold;
    font-size: 35pt;
    text-align: right;
}
.list-item-table {
    width: 100%;
    cursor: pointer;
}
.list-item-table td:nth-child(1) {
    vertical-align: middle;
    text-align: left;
    width: 60px;
    font-size: 25pt;
}
.list-item-table td:nth-child(2) {
    font-size: 14pt;
    color: #a12130;
    vertical-align: middle;
}
.list-sub-item-table {
    width: 100%;
    cursor: pointer;
    color: #50595a;
}
.list-sub-item-table td:nth-child(1) {
    vertical-align: middle;
    text-align: left;
    width: 80%;
    font-size: 12pt;
    font-weight: 500;
}
.list-sub-item-table td:nth-child(2) {
    width: 20%;
    font-size: 20pt;
    text-align: right;
    vertical-align: middle;
}
.section-header {
    background: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #50595a;
}
.section-header .title {
    font-size: 16pt;
    font-weight: 500;
    text-align: center;
}
.section-header .sub-title {
    font-size: 10pt;
    font-weight: 300;
    text-align: center;
}
