{{define "head"}}
<title></title>
{{end}}
{{define "body"}}

<ul class="list-group" id="my-account" style="margin-top:50px;margin-bottom: 60px;">

    <a href="/language" class="account-li list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <span class="icon"><i style="color:#555;" class="fa fa-globe"></i></span>
                </td>
                <td>
                {{ t .CurrentLocale "ss_client_account_language" "" }}
                </td>
            </tr>
        </table>
    </a>

    <a href="/check_availability" class="list-group-item" id="add-school_or_district">
        <table class="list-item-table">
            <tr>
                <td>
                {{ if eq .ViewData.JurisdictionCount  0 }}
                    <span class="icon"><i style="color:#555;" class="fa fa-power-off"></i></span>
                {{ else }}
                <span class="icon"><i style="color:#555;" class="fa fa-graduation-cap"></i></span>
                {{ end }}
                </td>
                <td>
                {{ if eq .ViewData.JurisdictionCount 0 }}
                    {{ t .CurrentLocale "activate_account" "" }}
                {{ else }}
                    {{ t .CurrentLocale "add_school_or_district" "" }}
                {{ end }}

                </td>
            </tr>
        </table>
    </a>

    {{ if eq .ViewData.HasJurisdictions true }}

    <form method="post" action="/remove_all_stops">
    {{ .CSRFTemplateField }}
        <li class="account-li list-group-item " id="remove-all-stops">
            <table class="list-item-table">
                <tr>
                    <td>
                        <i style="color:#555;" class="ss ss-delete" style="width:35px;"></i>
                    </td>
                    <td>
                    {{ t .CurrentLocale "remove_all_stops" "" }}
                    </td>
                </tr>
            </table>
        </li>
    </form>

{{ end }}


    {{ if eq .ViewData.ViewManageNotifications true}}
        <a href="/manage_notifications" class="list-group-item">
            <table class="list-item-table">
                <tr>
                    <td>
                        <i style="color:#555;" class="ss ss-settings"></i>
                    </td>
                    <td>
                    {{ t .CurrentLocale "manage_notifications" "" }}
                    </td>
                </tr>
            </table>
        </a>
    {{ end }}


    {{ if eq .ViewData.ViewManageSubscriptions true}}
    <a href="/manage_subscriptions" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="ss ss-settings"></i>
                </td>
                <td>
                {{ t .CurrentLocale "manage_account" "" }}
                </td>
            </tr>
        </table>
    </a>
    {{ end }}

    {{ if eq .ViewData.UserCanSendAlerts true }}
    <a href="/alerts_dashboard" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="fa fa-bell-o"></i>
                </td>
                <td>
                    {{ t .CurrentLocale "send_alert" ""}}
                </td>
            </tr>
        </table>
    </a>
    {{ end }}







    <a href="/faq" target="_blank" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="fa fa-question"></i>
                </td>
                <td>
                    FAQ
                </td>
            </tr>
        </table>
    </a>


    <a href="/logout" class="list-group-item account-li" id="logout">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="ss ss-sign-out"></i>
                <td>
                    {{ t .CurrentLocale "sign_out" "" }}
                </td>
            </tr>
        </table>
    </a>


    <li class="list-group-item" style="background: #F7F7F7; font-size: 14pt; font-weight: bold">
    {{ t .CurrentLocale "connect_with_safe_stop" "" }}
    </li>

    <li class="list-group-item" id="email-us">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="ss ss-email-1"></i>
                </td>
                <td>
                    <a href='mailto:support@{{ .Domain }}'>support@{{ .Domain }}</a>
                </td>
            </tr>
        </table>
    </li>

    {{ if (eq .Domain "safestopapp.com") or (eq .Domain "ssc.local") }}
    <li class="list-group-item account-li" id="call-us">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="ss ss-call"></i>
                </td>
                <td>
                    <a href='tel://{{ .SupportNumber }}'>{{ .SupportNumber }}</a>
                </td>
            </tr>
        </table>
    </li>
    {{ end }}

    <a href="//facebook.com/SafeStopApp" target="_blank" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="ss ss-facebook"></i>
                <td>
                    {{ t .CurrentLocale "facebook" "" }}
                </td>
            </tr>
        </table>
    </a>

    <a href="//twitter.com/safestopapp" target="_blank" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="ss ss-twitter"></i>
                <td>
                    {{ t .CurrentLocale "twitter" "" }}
                </td>
            </tr>
        </table>
    </a>

    <li class="list-group-item" id="system-header" style="background: #F7F7F7; font-size: 14pt; font-weight: bold; display: none;">
        SYSTEM
    </li>

    <li class="list-group-item account-li" id="native-device-model" style="display:none;">
        <table class="list-item-table">
            <tr>
                <td>
                    <i style="color:#555;" class="fa fa-mobile"></i>
                <td id="native-device-model-value">

                </td>
            </tr>
        </table>
    </li>

    <li class="list-group-item" id="native-os" style="display: none;">
        <table class="list-group-item-table">
            <tr>
                <td class="icon-font">
                    <i style="color:#555;" id="native-os-icon" class="fa"></i>
                <td id="native-os-value" class="text">

                </td>
            </tr>
        </table>
    </li>


    {{ if eq .ViewData.HasJurisdictions true }}
    {{range .ViewData.Jurisdictions.Jurisdictions }}

        {{ if ne .Phone "Not Set"}}
        <li class="list-group-item" style="background: #F7F7F7; font-size: 14pt; font-weight: bold">
            CONNECT WITH {{ .Name }}
        </li>
        <li class="list-group-item" id="call-us">
            <table class="list-item-table">
                <tr>
                    <td>
                        <i style="color:#555;" class="ss ss-call"></i>
                    </td>
                    <td>
                        <a href='{{ .Phone }}'>{{ .Phone }}</a>
                    </td>
                </tr>
            </table>
        </li>
        {{ end }}
    {{ end }}
    {{ end }}







{{ if eq .ViewData.HasJurisdictions true }}
    <li class="list-group-item" id="connect-with-terminal" style="background: #F7F7F7; font-size: 14pt; font-weight: bold;">
    {{ t .CurrentLocale "connect_with_terminal" "" }}
    </li>

    <a href="/report_an_app_issue" class="list-group-item account-li" id="report-lost-item">
        <table class="list-item-table">
            <tr>
                <td class="icon-font">
                    <i style="color:#555;" class="ss ss-lost-item"></i>
                <td class="text">
                {{ t .CurrentLocale "report_an_app_issue" "" }}
                </td>
            </tr>
        </table>
    </a>

    {{ if eq .ViewData.ViewReportLostItem true }}
        <a href="/lost_item_report" class="list-group-item account-li" id="report-lost-item">
            <table class="list-item-table">
                <tr>
                    <td class="icon-font">
                        <i style="color:#555;" class="ss ss-lost-item"></i>
                    <td class="text">
                        {{ t .CurrentLocale "report_lost_item" "" }}
                    </td>
                </tr>
            </table>
        </a>
    {{ end }}

{{end}}

</ul>








<script type="text/javascript">

    $(document).ready(function () {

        if(isNativeiOSApp()) {
            sendMessageToNative({command:'register_for_notifications', callback: 'did_register_for_notifications_callback', data:''});
        }

        if(isNativeAndroidApp())
        {
            gcm_callback(gcm_token);
        }




        $('body').removeClass('app-body').css("overflow-y", "scroll");

        $('#logout').click(function(e){
            e.preventDefault();
            window.localStorage.setItem('token', undefined);
            window.location.href = $(this).prop("href");
        })

        {{ if eq .ViewData.JurisdictionCount 0 }}
                swal({
                    title: '{{ t .CurrentLocale "account_not_active" "" }}',
                    text: '{{ t .CurrentLocale "account_not_active_description" "" }}',
                    confirmButtonColor: "#A31F2D",
                    type: "info"
                });
        {{ end }}

        window.send_message = function( action, callback, data ) {
            var iframe = document.createElement('iframe');
            var req = encodeURIComponent(action) + "$" + encodeURIComponent(callback) + "$" + encodeURIComponent(data);
            // console.log(req);
            iframe.setAttribute( "src", "js://" + req );
            iframe.style.display = "none";
            document.documentElement.appendChild(iframe);
            iframe.parentNode.removeChild(iframe);
            iframe = null;
        };

        var is_uiwebview = /(iPhone|iPod|iPad).*AppleWebKit(?!.*Safari)/i.test(navigator.userAgent);
        if (is_uiwebview) {
            send_message( "device_model", "device_model_callback", "" );
            send_message( "app_version", "app_version_callback", "" );
            send_message( "os", "os_callback", "" );
        }


        $("#remove-all-stops").click(function (e) {
            e.preventDefault();
            var remove_stops_form = $(this).parent();
            swal({
                title: '{{ t .CurrentLocale "ss_client_account_js_4" "" }}',
                type: 'warning',
                text: '{{ t .CurrentLocale "ss_client_account_js_5" "" }}',
                showCloseButton: true,
                showCancelButton: true,
                confirmButtonText: '{{ t .CurrentLocale "okay" "" }}',
                confirmButtonColor: "#A31F2D",
                cancelButtonText: '{{ t .CurrentLocale "cancel" "" }}'
            }).then((result) => {
                if (result) {
                   $(remove_stops_form).submit();
                }
            })
        });
    });


    function device_model_callback(data) {
        $("#native-device-model").show();
        $("#native-device-model-value").text(data);
        $("#system-header").show();
    }

    function app_version_callback(data) {
        $("#native-app-version").show();
        $("#native-app-version-value").text(data);
        $("#system-header").show();
    }

    function os_callback(data) {
        $("#native-os").show();
        $("#native-os-value").text(data);
        if (data.indexOf("iPhone") === 0) {
            $("#native-os-icon").addClass("fa-apple");
        }
        else if (data.indexOf("Android") === 0) {
            $("#native-os-icon").addClass("fa-android");
        }
        else {
            $("#native-os-icon").addClass("fa-laptop")
        }
        $("#system-header").show();
    }

</script>



{{end}}