{{define "head"}}
<title></title>
{{end}}
{{define "body"}}




<ul class="list-group" id="my-account" style="margin-top:50px;margin-bottom: 60px;">

    <a href="/language" class="account-li list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <span class="icon"><i class="fa fa-globe"></i></span>
                </td>
                <td>
                {{ t .CurrentLocale "ss_client_account_language" "" }}
                </td>
            </tr>
        </table>
    </a>

    <a href="/check_availability" class="list-group-item" id="add-school_or_district">
        <table class="list-item-table">
            <tr>
                <td>

                    {{ if .ViewData.JurisdictionCount == 0 }}
                        <span class="icon"><i class="fa fa-power-off"></i></span>
                    {{ else }}
                    <span class="icon"><i class="fa fa-graduation-cap"></i></span>
                    {{ end }}

                </td>
                <td>
                {{ if .ViewData.JurisdictionCount == 0 }}
                    {{ t .CurrentLocale "activate_account" "" }}
                {{ else }}
                    {{ t .CurrentLocale "add_school_or_district" "" }}
                {{ end }}

                </td>
            </tr>
        </table>
    </a>

    {{ if .ViewData.JurisdictionCount > 0 }}

    <form method="post" action="/remove_all_stops">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <li class="account-li list-group-item " id="remove-all-stops">
            <table class="list-item-table">
                <tr>
                    <td>
                        <i class="ss ss-delete" style="width:35px;"></i>
                    </td>
                    <td>
                    {{ t .CurrentLocale "remove_all_stops" "" }}
                    </td>
                </tr>
            </table>
        </li>

    </form>

        {{ end }}


    {{ if .ViewData.RegularUser == false}}
    <a href="/manage_notifications" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="ss ss-settings"></i>
                </td>
                <td>
                {{ t .CurrentLocale "manage_notifications" "" }}
                </td>
            </tr>
        </table>
    </a>

    {{ else }}





    {{ end }}

    <% if @user.client_permission_group == Sti::LICENSE_5 %>
    <a href="/manage_subscriptions" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="ss ss-settings"></i>
                </td>
                <td>
                {{ t .CurrentLocale "manage_account" "" }}
                </td>
            </tr>
        </table>
    </a>
    <% end %>

    <a href="//alerts.{{ .ViewData.Domain }}/" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="fa fa-bell-o"></i>
                </td>
                <td>
                {{ t .CurrentLocale "send_alert" "" }}
                </td>
            </tr>
        </table>
    </a>


    <% end %>

    <a href="/faq" target="_blank" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="fa fa-question"></i>
                </td>
                <td>
                    FAQ
                </td>
            </tr>
        </table>
    </a>


    <a href="/destroy_client_session" class="list-group-item account-li" id="logout">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="ss ss-sign-out"></i>
                <td>
            {{ t .CurrentLocale "sign_out" "" }}
                </td>
            </tr>
        </table>
    </a>


    <li class="list-group-item" style="background: #F7F7F7; font-size: 14pt; font-weight: bold">
    {{ t .CurrentLocale "connect_with_safe_stop" "" }}
    </li>

    <li class="list-group-item" id="email-us">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="ss ss-email-1"></i>
                </td>
                <td>
                    <a href='mailto:support@{{ .ViewData.Domain }}'>support@{{ .ViewData.Domain }}</a>
                </td>
            </tr>
        </table>
    </li>

    {{ if .ViewData.Domain == "safestopapp.com" || .ViewData.Domain == "ssc.local" }}
    <li class="list-group-item account-li" id="call-us">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="ss ss-call"></i>
                </td>
                <td>
                    <a href='tel://{{ .ViewData.SupportNumber }}'>{{ .ViewData.SupportNumber }}</a>
                </td>
            </tr>
        </table>
    </li>
    {{ end }}

    <a href="//facebook.com/SafeStopApp" target="_blank" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="ss ss-facebook"></i>
                <td>
                    {{ t .CurrentLocale "facebook" "" }}
                </td>
            </tr>
        </table>
    </a>

    <a href="//twitter.com/safestopapp" target="_blank" class="list-group-item">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="ss ss-twitter"></i>
                <td>
                    {{ t .CurrentLocale "twitter" "" }}
                </td>
            </tr>
        </table>
    </a>

    <li class="list-group-item" id="system-header" style="background: #F7F7F7; font-size: 14pt; font-weight: bold; display: none;">
        SYSTEM
    </li>

    <li class="list-group-item account-li" id="native-device-model" style="display:none;">
        <table class="list-item-table">
            <tr>
                <td>
                    <i class="fa fa-mobile"></i>
                <td id="native-device-model-value">

                </td>
            </tr>
        </table>
    </li>

    <li class="list-group-item" id="native-os" style="display: none;">
        <table class="list-group-item-table">
            <tr>
                <td class="icon-font">
                    <i id="native-os-icon" class="fa"></i>
                <td id="native-os-value" class="text">

                </td>
            </tr>
        </table>
    </li>


{{ if .ViewData.SafeStopAppIssuesActive == true }}
    <li class="list-group-item" id="connect-with-terminal" style="background: #F7F7F7; font-size: 14pt; font-weight: bold;">
    {{ t .CurrentLocale "connect_with_terminal" "" }}
    </li>

    <a href="/report_an_app_issue" class="list-group-item account-li" id="report-lost-item">
        <table class="list-item-table">
            <tr>
                <td class="icon-font">
                    <i class="ss ss-lost-item"></i>
                <td class="text">
                {{ t .CurrentLocale "report_an_app_issue" "" }}
                </td>
            </tr>
        </table>
    </a>
{{end}}


</ul>




{{end}}