{{define "head"}}
<title></title>
{{end}}
{{define "body"}}




<form class="form" method="post" action="/process_activation/<%= @jurisdiction.id %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 text-center" style="margin-top: 30px; margin-bottom: 10px;">
                <img class="img-fluid" style="max-width: 90%" src="<%= @jurisdiction.registration_image_url %>">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center" style="padding-top: 10px; padding-bottom: 10px;">
                {{ .ViewData.RegistrationText}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 h3 text-center" style="color: #A12130;">
                {{ t .CurrentLocale "ss_register_1" "" }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 lead text-center" style="margin-top: 20px;">
                {{ t .CurrentLocale "ss_register_5" "" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">


                {{ if .ViewData.RegistrationType == "Student Identifier" }}

                {{ if .ViewData.RegistrationLabel == "student_identifier" }}

                <div class="student-id-description text-center">{{ t .CurrentLocale "student_id_description" "" }}</div>
                <div class="form-group">
                    <input id="student-identifier-0" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "student_1_description" "" }}">
                </div>
                <div class="form-group">
                    <input id="student-identifier-1" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "ss_register_student_2" "" }}">
                </div>
                <div class="form-group">
                    <input id="student-identifier-2" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "ss_register_student_3" "" }}">
                </div>
                <div class="form-group">
                    <input id="student-identifier-3" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "ss_register_student_4" "" }}">
                </div>

                {{ else }}

                <div class="form-group">
                    <input id="student-identifier-0" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "access_code" "" }}">
                </div>

                {{ end }}


                {{ else if .ViewData.RegistrationType == "Access Code" }}

                <div class="form-group">
                    <input id="jurisdiction-gate-key" class="form-control" name="jurisdiction[gate_key]" placeholder="Access Code">
                </div>


                {{ else if .ViewData.RegistrationType == "Access Code + Student Identifier" }}

                <div class="form-group">
                    <input id="jurisdiction-gate-key" class="form-control" name="jurisdiction[gate_key]" placeholder="{{ t .CurrentLocale "school_code" "" }}">
                </div>

                <div class="student-id-description text-center"><%= t('student_id_description', locale: current_locale) %></div>
                <div class="form-group">
                    <input id="student-identifier-0" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "student_1_description" "" }}">
                </div>
                <div class="form-group">
                    <input id="student-identifier-1" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "ss_register_student_2" "" }}">
                </div>
                <div class="form-group">
                    <input id="student-identifier-2" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "ss_register_student_3" "" }}">
                </div>
                <div class="form-group">
                    <input id="student-identifier-3" class="form-control" name="student_information[][sis_identifier]" placeholder="{{ t .CurrentLocale "ss_register_student_4" "" }}">
                </div>

                {{ end }}

                <div class="form-group">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%;">
                                <a href="/check_availability?postal_code=<%= @postal_code %>" class="btn btn-default  btn-block no-right-radius">{{ t .CurrentLocale "cancel" "" }}</a>
                            </td>
                            <td style="width: 50%;">
                                <button class="btn btn-safestop btn-block no-left-radius" type="submit">{{ t .CurrentLocale "submit" "" }}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>


<% if @ad %>
<div align="center" style="padding-bottom: 45px;">
    <div style="color: dimgrey; font-size: 8pt;">Sponsored by:</div>
    <a href="/adclick/<%= @ad.id %>" target="_blank"><img src="<%= @ad.login_image %>"></a>
</div>
<% end %>


<script type="text/javascript">

    $(document).ready(function () {

        $(document).on("click", ".failed-registration-attempt", function (e) {
            e.stopPropagation();
            e.preventDefault();
            var id_or_code = $('#' + $(this).data('sis_identifier')).val();
            var source = '{{ .ViewData.JurisdictionId }}';
            var base_url = '/failed_registration_attempt'
            var url = base_url + '?id_or_code=' + id_or_code + '&jurisdiction_id=' + source;
            window.open(url, '_self');
        })

        $('form').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {


                    <% if @jurisdiction.student_registration_label == 'student_identifier' %>
                    '#student-identifier-0': {
            selector: '#student-identifier-0',
                    validators: {
                notEmpty: {message: "Student identification number is required"},
                remote: {
                    message: "Sorry! The security information you entered (either a Student ID or an Access Code) is not valid.<br><br> If you are trying to register with a Student ID, please click <a data-sis_identifier='student-identifier-0' class='failed-registration-attempt' style='cursor:pointer;'>HERE</a> to request that yours be added to our system. If you are trying to register with an Access Code, contact the individual or office listed on the previous page for assistance.",
                            url: '/student_exists',
                            type: 'post',
                            delay: 100,
                            data: function (validator, $field, value) {
                        return {
                            authenticity_token: '<%= form_authenticity_token %>',
                            jurisdiction_id: <%= @jurisdiction.id %>,
                                sis_identifier: $("#student-identifier-0").val()
                    };
                    }
                }
            }
        },
    <% else %>
        '#student-identifier-0': {
            selector: '#student-identifier-0',
                    validators: {
                notEmpty: {message: "<%= t('required', locale: current_locale) %>"},
                remote: {
                    message: "Sorry! The security information you entered (either a Student ID or an Access Code) is not valid.<br><br> If you are trying to register with a Student ID, please click <a data-sis_identifier='student-identifier-0' class='failed-registration-attempt' style='cursor:pointer;'>HERE</a> to request that yours be added to our system. If you are trying to register with an Access Code, contact the individual or office listed on the previous page for assistance.",
                            url: '/student_exists',
                            type: 'post',
                            delay: 100,
                            data: function (validator, $field, value) {
                        return {
                            authenticity_token: '<%= form_authenticity_token %>',
                            jurisdiction_id: <%= @jurisdiction.id %>,
                                sis_identifier: $("#student-identifier-0").val()
                    };
                    }
                }
            }
        },
    <% end %>

        '#student-identifier-1': {
            selector: '#student-identifier-1',
                    validators: {
                remote: {
                    message: "Sorry! The security information you entered (either a Student ID or an Access Code) is not valid.<br><br> If you are trying to register with a Student ID, please click <a data-sis_identifier='student-identifier-1' class='failed-registration-attempt' style='cursor:pointer;'>HERE</a> to request that yours be added to our system. If you are trying to register with an Access Code, contact the individual or office listed on the previous page for assistance.",
                            url: '/student_exists',
                            type: 'post',
                            delay: 100,
                            data: function (validator, $field, value) {
                        return {
                            authenticity_token: '<%= form_authenticity_token %>',
                            jurisdiction_id: <%= @jurisdiction.id %>,
                                sis_identifier: $('#student-identifier-1').val()
                    };
                    }
                }
            }
        },
        '#student-identifier-2': {
            selector: '#student-identifier-2',
                    validators: {
                remote: {
                    message: "Sorry! The security information you entered (either a Student ID or an Access Code) is not valid.<br><br> If you are trying to register with a Student ID, please click <a data-sis_identifier='student-identifier-2' class='failed-registration-attempt' style='cursor:pointer;'>HERE</a> to request that yours be added to our system. If you are trying to register with an Access Code, contact the individual or office listed on the previous page for assistance.",
                            url: '/student_exists',
                            type: 'post',
                            delay: 100,
                            data: function (validator, $field, value) {
                        return {
                            authenticity_token: '<%= form_authenticity_token %>',
                            jurisdiction_id: <%= @jurisdiction.id %>,
                                sis_identifier: $("#student-identifier-2").val()
                    };
                    }
                }
            }
        },
        '#student-identifier-3': {
            selector: '#student-identifier-3',
                    validators: {
                remote: {
                    message: "Sorry! The security information you entered (either a Student ID or an Access Code) is not valid.<br><br> If you are trying to register with a Student ID, please click <a data-sis_identifier='student-identifier-3' class='failed-registration-attempt' style='cursor:pointer;'>HERE</a> to request that yours be added to our system. If you are trying to register with an Access Code, contact the individual or office listed on the previous page for assistance.",
                            url: '/student_exists',
                            type: 'post',
                            delay: 100,
                            data: function (validator, $field, value) {
                        return {
                            authenticity_token: '<%= form_authenticity_token %>',
                            jurisdiction_id: <%= @jurisdiction.id %>,
                                sis_identifier: $("#student-identifier-3").val()
                    };
                    }
                }
            }
        },
        'jurisdiction[gate_key]': {
            selector: '#jurisdiction-gate-key',
                    validators: {
                notEmpty: {message: "Invalid school code"},
                remote: {
                    message: "Sorry! The security information you entered (either a Student ID or an Access Code) is not valid.<br><br> If you are trying to register with a Student ID, please click <a data-sis_identifier='jurisdiction-gate-key' class='failed-registration-attempt' style='cursor:pointer;'>HERE</a> to request that yours be added to our system. If you are trying to register with an Access Code, contact the individual or office listed on the previous page for assistance.",
                            url: function (validator, $field, value) {
                        return '/school_code_exists/<%= @jurisdiction.id %>/' + $("#jurisdiction-gate-key").val();
                    },
                    type: 'POST',
                            delay: 100,
                            data: function (validator, $field, value) {
                        return {
                            authenticity_token: '<%= form_authenticity_token %>'
                        };
                    }
                }
            }
        }
    }
    })

    });

</script>




{{end}}