{{define "head"}}

{{end}}
{{define "body"}}


<form id="failed-registration-attempt-form" action="/failed_registration_attempt" method="post" style="margin-bottom:20px;">
{{ .CSRFTemplateField}}

    <input type="hidden" name="jurisdiction_id" value="{{ .ViewData.JurisdictionId }}">
    <input type="hidden" name="postal_code" value="{{ .ViewData.PostalCode }}">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 h3" align="center" style="color: #A12130;">
            {{ t .CurrentLocale "student_id_or_school_code_not_valid" ""}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="form-group">
                    <input type="text" class="form-control" name="last_name" value="{{ .ViewData.LastName }}" placeholder="{{ t .CurrentLocale "your_last_name" ""}}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="first_name" value="{{ .ViewData.FirstName }}" placeholder="{{ t .CurrentLocale "your_first_name" ""}}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="email" value="{{ .ViewData.Email }}" placeholder="{{ t .CurrentLocale "email" ""}}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="student_last_name" placeholder="{{ t .CurrentLocale "student_rider_last_name" ""}}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="student_first_name" placeholder="{{ t .CurrentLocale "student_rider_first_name" ""}}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="id_or_code_attempted" value="{{ .ViewData.IdOrCodeAttempted}}" placeholder="{{ t .CurrentLocale "code_or_id_attempted_to_use" ""}}">
                </div>

                <div class="form-group">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%;">
                                <a href="/activate/{{ .ViewData.JurisdictionId }}?postal_code={{ .ViewData.PostalCode }}" class="btn btn-default btn-block no-right-radius">{{ t .CurrentLocale "cancel" ""}}</a>
                            </td>
                            <td style="width: 50%;">
                                <button class="btn btn-safestop btn-block no-left-radius" type="submit">{{ t .CurrentLocale "submit" ""}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">

    $(document).ready(function () {

        FormValidation.formValidation(
                document.getElementById("failed-registration-attempt-form"),
                {
                    fields: {
                        'last_name': {
                            validators: {
                                notEmpty: {message: "{{ t .CurrentLocale "required" "" }}"}
                            }
                        },
                        'first_name': {
                            validators: {
                                notEmpty: {message: "{{ t .CurrentLocale "required" "" }}"}
                            }
                        },
                        'id_or_code_attempted': {
                            validators: {
                                notEmpty: {message: "{{ t .CurrentLocale "required" "" }}"}
                            }
                        },
                        'student_first_name': {
                            validators: {
                                notEmpty: {message: "{{ t .CurrentLocale "required" "" }}"}
                            }
                        },
                        'student_last_name': {
                            validators: {
                                notEmpty: {message: "{{ t .CurrentLocale "required" "" }}"}
                            }
                        },
                        'email': {
                            validators: {
                                regexp: {
                                    regexp: /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                                    message: "Invalid email format"
                                },
                                notEmpty: {message: '{{ t .CurrentLocale "invalid_email_format" ""}}'}
                            }
                        }
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        bootstrap: new FormValidation.plugins.Bootstrap(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh',
                        }),
                    }
                })





    })

</script>




{{end}}