
{{define "head"}}
<title></title>
{{end}}
{{define "body"}}

{{ .CSRFTemplateField}}


<style>
    .icon-stack {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 2em;
        vertical-align: middle;
    }
    .icon-stack-1x,
    .icon-stack-2x,
    .icon-stack-3x {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .icon-stack-1x {
        line-height: inherit;
    }
    .icon-stack-2x {
        font-size: 1.5em;
    }
    .icon-stack-3x {
        font-size: 2em;
    }
    .fa-clock-o{
        cursor: pointer;
    }
</style>


<script id="ms-template" type="text/html">

{|#jurisdictions|}
<li class="list-group-item text-center ms-jurisdiction">{|jn|}</li>
{|#routes|}
{|#stops|}

{|^ra|}
<div class="list-group-item stop-li" style="border-radius:0px; border:1px solid #DDDDDD;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 90%;">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="ms-route" style="color:#9D9D9D;">
                            {|rn|}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="ms-stop" style="color:#9D9D9D;">
                            {|sn|}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%; font-style: italic">
                            This stop has been marked inactive by your transportation staff. Reactivate by using the Report An App Issue feature in the Settings menu.
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{|/ra|}


{|^ba|}
<div class="list-group-item stop-li" style="border-radius:0px; border:1px solid #DDDDDD;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 90%;">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="ms-route" style="color:#9D9D9D;">
                            {|rn|}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="ms-stop" style="color:#9D9D9D;">
                            {|sn|}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%; font-style: italic">
                            This route currently does not have a bus assigned to it. Use the Report An App Issue feature to resolve this matter with your transportation staff.
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{|/ba|}


{|^e|}
<div class="list-group-item stop-li {|sc|}" style="border-radius:0px; border:1px solid #DDDDDD;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 90%;">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="ms-route">
                            {|rn|}
                            {|#a|}
                                <i class="fa fa-clock-o" style="color: #FCD20A;"></i>
                            {|/a|}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="ms-stop">
                            {|sn|}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%; vertical-align: top;">
                            {|^sh|}
                                <div class="scheduled_time">
                                    <div class="se-title">{{ t .CurrentLocale "scheduled" "" }}</div>
                                    <div class="ms-time">{|sst|}</div>
                                </div>
                            {|/sh|}
                        </td>
                        <td style="width: 40%; vertical-align: top;" class="text-left">
                            {|^sh|}
                                {{/*{|^a|}*/}}
                                    {{/*{|^hp|}*/}}
                                        <div class="expected_time">
                                            <div class="se-title">{|tt|}</div>
                                            <div class="ms-time {|tc|}">{|t|}</div>
                                            <div class="as_of">{|ao|}</div>
                                        </div>
                                    {{/*{|/hp|}*/}}
                                {{/*{|/a|}*/}}
                            {|/sh|}
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align: middle;" class="text-right">
                <a href="/map?bus_route_id={|rid|}&bus_route_stop_id={|sid|}" class="icon-stack">
                    <i class="ss ss-live-map-map icon-stack-3x" style="color: #575B5E;
                                                             font-size: 40px;
                                                             padding-top: 10px;
                                                             border: 3px solid #575B5E;
                                                             height:70px;
                                                             width:70px;
                                                             position: relative;
                                                             -webkit-border-radius:35px;
                                                             -moz-border-radius:35px;">

                    </i>
                    <i class="ss ss-live-map-pin icon-stack-1x" style="color: #A12130; font-size: 30pt; top: 18px"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
{|/e|}

{|/stops|}
{|/routes|}
{|/jurisdictions|}

</script>


<ul class="list-group" id="my-stops" style="overflow-y: scroll !important;">


</ul>

<div id="loading_spinner" style="display:none;" align="center">


</div>



<script type="text/javascript">

var ms_template = $("#ms-template").html();

$(document).ready(function () {

    start_progress_bar();

    if(isNativeiOSApp()) {
        sendMessageToNative({command:'register_for_notifications', callback: 'did_register_for_notifications_callback', data:''});
    }

    if(isNativeAndroidApp())
    {
        gcm_callback(gcm_token);
    }

    $(".message-bubble").click(function (e) {
        set_viewed_alerts();
    });

    $( window ).scroll(function() {
        $("#overlay").css("top",$(window).scrollTop());
    });

    $("#my-stops").height((window.innerHeight - 106) + 'px');

})

function refresh_stops() {

    $('#loading_spinner').show();


    start_time = Date.now();
    $.get('/api/my_stops', {
        "gorilla.csrf.Token": $("input[name='gorilla.csrf.Token']").val(),
        format: 'json'
    }, function (response) {

        $("#my-stops").empty();
        $('#loading_spinner').hide();
        if (response.length > 0) {
            $('#my-stops').append(Mustache.render(ms_template, {jurisdictions: response}));
        }
    });
}




function refresh_scan_notifications() {
    $.get('/api/scan_notifications', {
        "gorilla.csrf.Token": $("input[name='gorilla.csrf.Token']").val()
    }, function (response) {
        if (response.length > 0) {
            for (var x = 0; x < response.length; x++) {
                var id = response[x].id
                swal({
                        title: '{{ t .CurrentLocale "student_scan" "" }}',
                        text: response[x].name + ' {{ t .CurrentLocale "was_scanned_at" "" }} ' + response[x].date_occurred,
                        type: "success",
                        confirmButtonColor: "#A31F2D"
                    },
                    function () {
                        $.post('/dismiss_scan_notification', {
                            "gorilla.csrf.Token": $("input[name='gorilla.csrf.Token']").val(),
                            scan_notification_id: id
                        }, function (response) {

                        });
                    })
            }
        }
    });
}





</script>

{{ end }}