{{define "head"}}

{{end}}
{{define "body"}}


<form id="lost-item-report-form" action="/lost_item_report" method="post" style="margin-bottom:20px;">

{{ .CSRFTemplateField}}

    <input type="hidden" name="summary" value="SafeStop - Lost Item On Bus">
    <input type="hidden" name="summary" value="{{ .ViewData.JurisdictionId}}">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 h3" align="center" style="color: #A12130;">
                {{ t .CurrentLocale "report_lost_item" "" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-top: 10px;">


                <div class="form-group">
                    <input class="form-control" id="first_name" name="first_name" placeholder="{{ t .CurrentLocale "student_rider_first_name" "" }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="last_name" name="last_name" placeholder="{{ t .CurrentLocale "student_rider_last_name" "" }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="date-lost" name="date_lost" placeholder="{{ t .CurrentLocale "lost_date" "" }}">
                </div>
                <div class="form-group">
                    <input class="form-control" name="phone" placeholder="{{ t .CurrentLocale "phone" "" }}">
                </div>
                <div class="form-group">
                    <input class="form-control" name="route_identifier" placeholder="{{ t .CurrentLocale "route_name" "" }}">
                </div>
                <div class="form-group">
                    <textarea style="height: 75px;" class="form-control" name="description" placeholder="{{ t .CurrentLocale "detailed_description" "" }}"></textarea>
                </div>
                <div class="form-group">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%;">
                                <a href="/account" class="btn btn-default btn-block no-right-radius">{{ t .CurrentLocale "cancel" "" }}</a>
                            </td>
                            <td style="width: 50%;">
                                <button class="btn btn-safestop btn-block no-left-radius" type="submit">{{ t .CurrentLocale "submit" "" }}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {



        FormValidation.formValidation(
                document.getElementById("lost-item-report-form"),
                {
                    fields: {
                        'first_name': {validators: {notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'}}},
                        'last_name': {validators: {notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'}}},
                        'phone': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'}
                            }
                        },
                        'description': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'}
                            }
                        },
                        'route_identifier': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'}
                            }
                        },
                        'date_lost': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'}
                            }
                        }
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        bootstrap: new FormValidation.plugins.Bootstrap(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh',
                        }),
                    }
                })






        // $('#date-occurred').datetimepicker({format: 'YYYY-MM-DD'})
        //         .on('dp.change', function (e) {
        //             $('form').data('formValidation').resetField('incident[date_occurred]');
        //             $('form').data('formValidation').validateField('incident[date_occurred]');
        //         });
    })

</script>








{{end}}