{{define "head"}}

{{end}}
{{define "body"}}

<form id="app-service-issue-form" action="/report_a_service_issue" method="post" style="margin-bottom:20px;">

{{ .CSRFTemplateField }}

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 h3" align="center" style="color: #A12130;">
            {{ t .CurrentLocale "report_a_service_issue" "" }}
            </div>
        </div>

        <div class="row">
            <div class="col">

                <input type="hidden" class="form-control" name="jurisdiction_id" value="{{ .ViewData.JurisdictionId }}"/>

                <div class="form-group">
                    <select class="form-control" name="issue_type">
                        <option value="Driver" selected>{{ t .CurrentLocale "driver" "" }}</option>
                        <option value="Vehicle">{{ t .CurrentLocale "vehicle" "" }}</option>
                        <option value="Schedule">{{ t .CurrentLocale "schedule" "" }}</option>
                        <option value="Other">{{ t .CurrentLocale "other" "" }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <textarea style="height: 75px;" class="form-control" name="description" placeholder="{{ t .CurrentLocale "detailed_description" "" }}"></textarea>
                </div>


                <div class="form-group">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%;">
                                <a href="/account" class="btn btn-default btn-block no-right-radius">{{ t .CurrentLocale "cancel" "" }}</a>
                            </td>
                            <td style="width: 50%;">
                                <button class="btn btn-safestop btn-block no-left-radius" type="submit">{{ t .CurrentLocale "submit" "" }}</button>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>

    </div>

</form>

<script type="text/javascript">

    $(document).ready(function () {


        FormValidation.formValidation(
                document.getElementById("app-service-issue-form"),
                {
                    fields: {
                        'issue_type': {
                            validators: {
                                notEmpty: {message: "{{ t .CurrentLocale "required" "" }}"}
                            }
                        },
                        'description': {
                            validators: {
                                notEmpty: {message: "{{ t .CurrentLocale "required" "" }}"}
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        bootstrap: new FormValidation.plugins.Bootstrap(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh',
                        })
                    }
                })


    })

</script>

{{end}}