{{define "head"}}

{{end}}
{{define "body"}}



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 section-header">
            <div class="title">{{ .ViewData.Subscription.JurisdictionName }} </div>
            <div class="sub-title">{{ .ViewData.Subscription.ProductName }}</div>
        </div>
    </div>
</div>

<ul class="list-group" style="margin-bottom: 0px;">

    <li id="sub-account-li" class="list-group-item">
        <table class="list-nav-item-table">
            <tr>
                <td><span style="color:#A12130;" class="title">{{ t .CurrentLocale "manage_sub_accounts" "" }}</span></td>
                <td>
                    <i class='fa fa-angle-right nav-arrow'></i>
                </td>
            </tr>
        </table>
    </li>

    <li class="list-group-item" style="display: none;">
        <form id="sub-account-form" class="form" method="post" action="/add_sub_account_user">
        {{ .CSRFTemplateField }}
            <input type="hidden" value="{{ .ViewData.Subscription.Id }}" name="subscription_id">
            <div class="form-group">
                <input id="email" class="form-control" type="text" name="email" autocomplete="off" placeholder="{{ t .CurrentLocale "email" "" }}">
            </div>

            <div id="create-user-fields" style="display:none">
                <div class="form-group">
                    <input id="password" class="form-control" type="password" name="password" autocomplete="off" placeholder="{{ t .CurrentLocale "password" ""}}">
                </div>
                <div class="form-group">
                    <input id="confirm-password" class="form-control" type="password" name="password_confirmation" autocomplete="off" placeholder="{{ t .CurrentLocale "confirm_password" ""}}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="first_name" autocomplete="off" placeholder="{{ t .CurrentLocale "first_name" ""}}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="last_name" autocomplete="off" placeholder="{{ t .CurrentLocale "last_name" ""}}">
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-safestop" type="submit">{{ t .CurrentLocale "add_sub_account" "" }}</button>
            </div>
        </form>
    </li>

    {{ range .ViewData.SubAccountUsers.Users}}

        <li class="list-group-item sub-account-li">
            <form action="/remove_sub_account" method="post">
            {{ $.CSRFTemplateField }}
                <input type="hidden" value="{{ .Id }}" name="subscription_sub_account_id">
            </form>

            <table class="list-sub-item-table">
                <tr>
                    <td>
                        {{ .FullName}}
                    </td>
                    <td>
                        <i class='fa fa-check-square-o remove-student'></i>
                    </td>
                </tr>
            </table>
        </li>

     {{ end }}

</ul>






{{ if or (eq .ViewData.Jurisdiction.RegistrationType "Student Identifier") (eq .ViewData.Jurisdiction.RegistrationType "Access Code + Student Identifier") }}

<ul class="list-group" style="margin-bottom:0px;">

    <li id="student-li" class="list-group-item">
        <table class="list-nav-item-table">
            <tr>
                <td><span style="color:#A12130;" class="title">{{ t .CurrentLocale "add_student_id" "" }}</span></td>
                <td>
                    <i class='fa fa-angle-right nav-arrow'></i>
                </td>
            </tr>
        </table>
    </li>

    <li class="list-group-item" style="display: none;">
        <form id="student-form" class="form" method="post" action="/add_student">
        {{ .CSRFTemplateField }}

            <input type="hidden" value="{{ .ViewData.Subscription.Id}}" name="subscription_id">

            <div class="form-group">
                <input id="sis-identifier" class="form-control" type="text" name="student_information[sis_identifier]" autocomplete="off" placeholder="{{ t .CurrentLocale "student_identifier" "" }}">
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-safestop">{{ t .CurrentLocale "add_student" "" }}</button>
            </div>
        </form>
    </li>


{{range .ViewData.Students.StudentInformations }}

    <li class="list-group-item student-li">
        <form action="/remove_student" method="post">
        {{ $.CSRFTemplateField }}
            <input type="hidden" value="{{ $.ViewData.Subscription.Id }}" name="subscription_id">
            <input type="hidden" value="{{ .Id }}" name="student_id">
        </form>
        <table class="list-sub-item-table">
            <tr>
                <td>
                {{ .FullName }}
                </td>
                <td>
                    <i class='fa fa-check-square-o remove-student'></i>
                </td>
            </tr>
        </table>
    </li>

{{ end }}

</ul>

{{ end }}







        {{ if eq .ViewData.Jurisdiction.StudentScanning true}}

<ul class="list-group" style="margin-bottom: 0px;">

    <li id="scan-li" class="list-group-item">
        <table class="list-nav-item-table">
            <tr>
                <td><span style="color:#A12130;" class="title">{{ t .CurrentLocale "manage_student_scanning" "" }}</span></td>
                <td>
                    <i class='nav-arrow fa fa-angle-right'></i>
                </td>
            </tr>
        </table>
    </li>

    <li class="list-group-item" style="display: none;">

        <form id="scan-form" class="form" method="post" action="/add_scan_notification_subscription">
        {{ .CSRFTemplateField }}

            <input type="hidden" name="out_action" value="/subscription_details/{{ $.ViewData.Subscription.Id }}" >
            <input type="hidden" name="scan[][jurisdiction_id]" value="{{ $.ViewData.Jurisdiction.Id}}">


        {{ if eq .ViewData.Jurisdiction.UseScanCodeMapping true }}
            <div class="form-group">
                <input id="scan-name" class="form-control" type="hidden" name="scan[][name]" autocomplete="off" placeholder="{{ t .CurrentLocale "name" "" }}">
            </div>
            <div class="form-group">
                <input id="scan-code" class="form-control" type="text" name="scan[][code]" autocomplete="off" placeholder="{{ t .CurrentLocale "student_identifier" "" }}">
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-safestop" id="add-scan-button">{{ t .CurrentLocale "add_student" "" }}</button>
            </div>
        {{ else }}
            <div class="form-group">
                <input id="scan-name" class="form-control" type="text" name="scan[][name]" autocomplete="off" placeholder="{{ t .CurrentLocale "student_name" "" }}">
            </div>
            <div class="form-group">
                <input id="scan-code" class="form-control" type="text" name="scan[][code]" autocomplete="off" placeholder="{{ t .CurrentLocale "scan_code" "" }}">
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-safestop" id="add-scan-button">{{ t .CurrentLocale "add_scan_code" "" }}</button>
            </div>
        {{ end }}

        </form>

{{ if or (eq .ViewData.Jurisdiction.RegistrationType "Student Identifier") (eq .ViewData.Jurisdiction.RegistrationType "Access Code + Student Identifier") }}
{{ if eq .ViewData.Jurisdiction.UseScanCodeMapping true }}
{{ if gt .ViewData.StudentCount 0}}
            <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">OR</div>

            <form class="form" method="post" action="/add_scan_notification_subscription">
            {{ $.CSRFTemplateField }}

                <input type="hidden" name="out_action" value="/subscription_details/{{ $.ViewData.Subscription.Id }}" >

                {{range .ViewData.Students.StudentInformations}}
                    <input type="hidden" name="scan[][jurisdiction_id]" value="{{ $.ViewData.Jurisdiction.Id}}">
                    <input type="hidden" name="scan[][name]" value="{{ .FullName }}">
                    <input type="hidden" name="scan[][code]" value="{{ .ScanCode }}">
                {{ end }}

                <div class="form-group">
                    <button class="btn btn-block btn-safestop" id="add-scan-using-scan-code-mapping-button">{{ t .CurrentLocale "add_my_students" "" }}</button>
                </div>

            </form>
{{ end }}
{{ end }}
{{ end }}

    </li>



    {{ range .ViewData.ScanNotificationSubscriptions.Subscriptions }}
            {{ if eq .JurisdictionId $.ViewData.Jurisdiction.Id}}

        <li class="list-group-item scan-li">
            <form action="/remove_scan_notification_subscription" method="post">
            {{ $.CSRFTemplateField }}
                <input type="hidden" name="out_action" value="/subscription_details/{{ $.ViewData.Subscription.Id }}" >
                <input type="hidden" value="{{ .Id }}" name="id">
            </form>

            <table class="list-sub-item-table">
                <tr>
                    <td>
                        {{ .Name }}
                    </td>
                    <td>
                        <i class='fa fa-check-square-o remove-student'></i>
                    </td>
                </tr>
            </table>
        </li>
    {{ end }}
    {{ end }}


</ul>

{{ end }}

<script type="text/javascript">

    var fv;

    $(document).ready(function () {

        $('body').removeClass('app-body').addClass('app-body-scroll');


        fv = FormValidation.formValidation(
                document.getElementById("sub-account-form"),
                {
                    fields: {
                        'first_name': {
                            validators: {
                                notEmpty: {
                                    message: '{{ t .CurrentLocale "required" ""}}'
                                }
                            }
                        },
                        'last_name': {
                            validators: {
                                notEmpty: {
                                    message: '{{ t .CurrentLocale "required" ""}}'
                                }
                            }
                        },
                        'email': {
                            validators: {
                                regexp: {
                                    regexp: /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                                    message: '{{ t .CurrentLocale "invalid_email_format" "" }}'
                                },
                                notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'},
                            }
                        },
                        'password': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" ""}}'},
                                regexp: {
                                    regexp: /^(?=.*[0-9])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{6,16}$/,
                                    message: '{{ t .CurrentLocale "invalid_password_format" "" }}'
                                }
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        bootstrap: new FormValidation.plugins.Bootstrap(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh',
                        }),
                    }
                })



    {{ if or (eq .ViewData.Jurisdiction.RegistrationType "Student Identifier") (eq .ViewData.Jurisdiction.RegistrationType "Access Code + Student Identifier") }}

    FormValidation.formValidation(
                document.getElementById("student-form"),
                {
                    fields: {
                        'student_information[sis_identifier]': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" ""}}'},
                                remote: {
                                    message: '{{ t .CurrentLocale "invalid_student_identifier" ""}}',
                                    url: '/api/student_exists',
                                    type: 'get',
                                    delay: 100,
                                    data: function (validator, $field, value) {
                                        return {
                                            jurisdiction_id: {{ .ViewData.Jurisdiction.Id }},
                                            sis_identifier: $("#sis-identifier").val()
                                        };
                                    }
                                }
                            }
                        }
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        bootstrap: new FormValidation.plugins.Bootstrap(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh',
                        }),
                    }
                })

    {{ end }}


        {{ if eq .ViewData.Jurisdiction.StudentScanning true}}

        FormValidation.formValidation(
                document.getElementById("scan-form"),
                {
                    fields: {
                        'scan[name]': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" ""}}'},
                            }
                        },
                        'scan[code]': {
                            validators: {
                                notEmpty: {message: '{{ t .CurrentLocale "required" ""}}'},
                            }
                        }
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        bootstrap: new FormValidation.plugins.Bootstrap(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh',
                        }),
                    }
                })

            {{ end }}



        $("#student-li, #scan-li, #sub-account-li").click(function (e) {
            var form_li = $(this).parent().children().eq(1);
            var i = $(this).find('i');
            if ($(i).hasClass('fa-angle-right')) {
                $(i).removeClass('fa-angle-right')
                $(i).addClass('fa-angle-down')
                $(form_li).show();
            }
            else {
                $(i).removeClass('fa-angle-down')
                $(i).addClass('fa-angle-right')
                $(form_li).hide();
            }
        });



        $(document).on("click", ".student-li, .scan-li, .sub-account-li", function(e) {
            e.stopPropagation();
            var student_li = $(this);
            var alert_name = $(student_li).find('.list-sub-item-table td:eq(0)').html().trim();
            swal({
                title: '{{ t .CurrentLocale "are_you_sure" ""}}',
                text: '{{ t .CurrentLocale "ss_client_subscription_details_js_3" "" }}' + alert_name,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#A31F2D",
                confirmButtonText: "Okay",
                cancelButtonText: "Cancel",
                closeOnConfirm: true,
                closeOnCancel: true
            }).then((result) => {
                if (result) {
                    $(student_li).find('form').submit();
                }
            })
        })



        $(document).on('keyup', '#email', function(){
            check_for_existing_users();
        })

        $(document).on("focusin", ".password", function(){
            check_for_existing_users();
        })



    });



    function check_for_existing_users(){
        var email = $("#email").val();
        if(email.length == 0){
            $("#create-user-fields").hide();
        }
        else{
            $.get('/api/email_exists', { 'user[email]': email }, function(response){
                if(response.valid){
                    $("#create-user-fields").show();
                    fv.enableValidator("first_name", "notEmpty")
                    fv.enableValidator("last_name", "notEmpty")
                    fv.enableValidator("password", "notEmpty")
                    fv.enableValidator("password", "regexp")
                }
                else{
                    $("#create-user-fields").hide();
                    fv.disableValidator("first_name", "notEmpty")
                    fv.disableValidator("last_name", "notEmpty")
                    fv.disableValidator("password", "notEmpty")
                    fv.disableValidator("password", "regexp")
                }
            })
        }
    }





</script>



{{end}}