{{define "head"}}

<title></title>
{{end}}
{{define "body"}}

<div class="container-fluid" style="margin-top: 150px;" align="center">
    <div class="row">
        <div class="col-md-4 offset-md-4 h4 text-center">
            {{ t .CurrentLocale "forgot_password" ""}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post" action="/forgot_password" class="form" id="get-password-reset-code-form">
                {{ .CSRFTemplateField}}
                <div class="form-group">
                    <input id="email" name="email" placeholder=" {{ t .CurrentLocale "email" ""}}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-safestop btn-block"> {{ t .CurrentLocale "email_my_reset_link" ""}}</button>
                </div>
                <div class="form-group">
                    <a href="/login" class="btn btn-safestop btn-block">{{ t .CurrentLocale "cancel" "" }}</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('form').bootstrapValidator({
            framework: 'bootstrap',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'email': {
                    validators: {
                        regexp: {
                            regexp: /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                            message: '{{ t .CurrentLocale "invalid_email_format" "" }}'
                        },
                        notEmpty: {message: '{{ t .CurrentLocale "required" "" }}'}
                    }
                }
            }
        })
    })

</script>


{{ end }}